<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate"  required/>
        <label for="title">Название Курса</label>
        <span class="helper-text" data-error="Введите название" data-success="data-success">Helper Text</span>

    </div>
    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1"/>
        <label for="price">Цена Курса</label>
        <span class="helper-text" data-error="Введите цену" data-success="data-success">Helper Text</span>
    </div>
    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required/> 
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите url картинки" data-success="data-success">Helper Text</span>

    </div>
    <button class="btn btn-primary">Добавить Курс</button>
</form>